<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="rt" class="com.nt.beans.Robot">
		 <property name="id" value="1001" />
		 <property name="name" value="Chitti" />
		<!-- <property name="lab" value="VyomMitra" />
		<property name="price" value="100000" /> -->
	</bean>

	<bean class="com.nt.beans.Robot">
		<property name="id" value="1001" />
		<property name="name" value="Chitti" />
		<property name="lab" value="VyomMitra" />
		<property name="price" value="100000" />
	</bean>

	<bean class="com.nt.beans.Robot">
		<property name="id" value="1001" />
		<property name="name" value="Chitti" />
		<property name="lab" value="VyomMitra" />
		<property name="price" value="100000" />
	</bean>

	<context:annotation-config />

</beans>