<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- dependent beans cfg -->
	<bean id="dtdc" class="com.nt.beans.DTDC" />
	<bean id="bd" class="com.nt.beans.BlueDart" />
	<bean id="fx" class="com.nt.beans.FedEx" />

	<!-- target bean cfg -->
	<bean id="fpkt" class="com.nt.beans.Flipkart">
		<property name="courier" ref="fx" />
	</bean>

</beans>